.textouno{
    text-align: center;
}
form {
    padding: 70px;
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.2);
    border-radius: 20px;
    text-align: center;
    width: 400px;
    margin-bottom: 25px;
}
.textform {
    display: flex;
    flex-direction: column;
    text-align: left; 
}
